body {
  background-color: #f4f8f8;
  font-family: "Roboto", sans-serif;
}

.App {
  text-align: center;

}

.label {
  font-size: 25px;
  color: #0e0d0d;
}

input {
  width: 191px;
  height: 36px;
  font-size: 23px;
}
.posts {
  text-decoration: underline;
}

div.addPost {
  position: -webkit-sticky;
  position: sticky;
  background-color: #f4f8f8;
  top: 0;
  z-index: 1;
}

.postList {
  z-index: 0;
}
